/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000000;
 color: #cccccc;
}
a {
  text-decoration: none;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
.title {
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
}
.title p {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  width: 50%;
  margin: auto;
}

.container {
  padding: 20px;
  color: #ffffff;
  width: auto;
  margin: auto;
  margin-top: 30px;
  margin-bottom:  40px;
  text-align: center;
}
#btn {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  margin-bottom: 20px;
  padding: 10px 30px;
}
main {

  width: 80%;
  margin: auto;
}
#r-text {
  border: 1px solid #ffffff;
  padding: 20px;
  line-height: 30px;
  text-align: center;
  font-family: Arial;
}
#r-text h2 {
  margin-top: 20px;
}
#r-text p {
  margin-top: 10px;
}

/*@media screen and (min-width: 800px) */
/*@media screen and (min-width: 992px)*/

